[Unit]
Description=Run auto-free-space daily and at boot

[Timer]
OnBootSec=5min
OnUnitActiveSec=1d
RandomizedDelaySec=30min

[Install]
WantedBy=timers.target
