[Unit]
Description=Run disk space alerts hourly
Documentation=

[Timer]
OnBootSec=10min
OnUnitActiveSec=1h
RandomizedDelaySec=5min

[Install]
WantedBy=timers.target
